.box{
	height:20px;
	width:50px;
	background: red;
	
	display:block;
}
.clear{
  clear:both;
}
#box1{
	position: relative;
	float:left;
	display: block;
}
#box2{
	position: relative;
	float:left;
	left: 100px;
	display: block;
}