p{
  font-size: 50px;
}
.wrapper{
  position:relative;
  float:left;
   
}
.black{
  width:70px;
  height:500px;
  background:white;
  
}
.ribbon{
  position:relative;
}
.ribbon-1{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-2{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-3{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-4{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-5{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-6{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-7{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-8{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-9{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-10{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-11{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-12{
  width:70px;
  height:30px;
  background:white;
 }

.ribbon-13{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-14{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.clear{
  clear:both;
}
.ribbon-15{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-16{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-17{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.ribbon-18{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-19{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-20{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.ribbon-21{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-22{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-23{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.ribbon-24{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-25{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-26{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.ribbon-27{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-28{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-29{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.ribbon-30{
  width:70px;
  height:30px;
  background:white;
 }
.ribbon-31{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-32{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-33{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-34{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-35{
  width:30px;
  height:7px;
  background:black;
  float:left;
 }
.ribbon-36{
  width:30px;
  height:7px;
  background:black;
  float:right;
 }
.ribbon-37{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-38{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-39{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-40{
  width:70px;
  height:7px;
  background:black;
 }
.ribbon-41{
  width:70px;
  height:7px;
  background:white;
 }
.ribbon-42{
  width:70px;
  height:7px;
  background:black;
 }