p{
	font-size:100px;
	text-align: center;
}
.container{
	margin:0 auto;
	
	height:400px;
	transform:translateY(40px);

}


.handle{
	width:200px;
	height:800px;
	background:#8f5010;
	float:left;
}
.lefthandle{
	border:1px solid white;
}
.righthandle{
	border:1px solid white;

}
.back{
	
	width:600px;
	height:350px;
	background: #d9750f;
	float:left;
	transform: translateY(150px);

}
.leftback{
	border:1px solid white;
}
.rightback{
	
	border:1px solid white;
}
.cushion{
	width: 250px;
      height: 250px;
      background: red;
      border-radius: 50%;
      position: absolute;
}
.leftcushion{
	border:2px solid white;
	transform: translateX(200px) translateY(270px);
}
.rightcushion{
	border:2px solid white;
	transform: translateX(1155px) translateY(270px);
}
.base{
	width:1200px; 
	height:100px;
	background: #8f5010;
	float:left;
}
.base1{
border:1px solid white;
transform:translateX(-1405px) translateY(470px);
}
.base2{
border:1px solid white;
transform:translateX(-1405px) translateY(470px);	
}